<div class="container">
  <div [ngClass]="getClassName()">
    <app-square
     *ngFor="let cell of cells; let i = index"
      (click)="click(i, $event)"
     [o]="randomItem(i)"
    ></app-square>
  </div>
  <div class="resetDiv" >
    <p>Tries: {{tries}}</p>
    <button (click)="reset()">Reset</button>
  </div>
</div>
