.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  padding: 50px;
  margin: 0 auto;
  border: 1px solid black;
}

.dis {
  pointer-events: none;
}

.resetDiv{
  text-align: center;
  font-size: 25px;
}

